.tpl_product{


    border:1px solid black;
}

.tlp_title{


    border-bottom: 1px dotted blue;
    padding:5px;
    text-align: center;
    font-size: large;
}

.tpl_price{

    text-align: center;
    font-size: small;
    border-top: 1px double red;
    padding:5px;
}